@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Montserrat:wght@400;700;900&display=swap');

:root {
  --primary: #ffffff;
  --dark-green: #a1b3b0;
  --cyan: #e6fffb;
  --dark: #2d2e32;
  --green: #9aded2;

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Belanosima', sans-serif;
}
